/* Add this to your existing CSS file or create a new one if needed */
.currentweather-container {
  text-align: center;
  margin: 20px;

}

.currentweather-name {
  font-size: 1.9rem;
  color: aliceblue;
  
}

.currentweather-temp {
  font-size: 1.5rem;
color: beige;
}

.currentweather-wind-direcation,
.currentweather-description {
  font-size: 1.5rem;
  
}

.currentweather-img {
  width: 150px; /* Adjust the size as needed */
  height: 100px; /* Adjust the size as needed */
  
}

/* Add a media query for responsive styling */
@media (min-width: 768px) {
  .currentweather-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
  }

  .currentweather-container > * {
    flex: 1 1 200px; /* Adjust the width as needed */
    margin: 10px;
  }

  .currentweather-img {
    width: 70px; /* Adjust the size as needed */
    height: 70px; /* Adjust the size as needed */
  }
}
