@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@700&family=Work+Sans:wght@500&display=swap');
body{
font-family: 'Work Sans', sans-serif;
}
/* Add this to your existing CSS file or create a new one if needed */
.app {
  text-align: center;
  padding: 20px;
}

.component-container {
  display: flex;
  margin-top: 20px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  background-image: url('https://images.pexels.com/photos/209831/pexels-photo-209831.jpeg?cs=srgb&dl=pexels-pixabay-209831.jpg&fm=jpg');
}

.loading-error-message {
  font-size: 1.2rem;
  margin-top: 10px;
}

/* Add a media query for responsive styling */
@media (min-width: 768px) {
  .component-container {
    flex-direction:column ;
    justify-content: center;
    align-items: center;
  }
}

